---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.1"
  overlay_image: research_banner.jpg
  actions:
excerpt: "Studying the evolution of Earth's deep interior through changes in the long-term geomagnetic field."

feature_row3:
  - image_path: CMB-HF-Field.png
    alt: "CMB heat flux interactions"
    title: "Interaction of mantle convection and the geomagnetic field"
    excerpt: "I am aiming to bring together the scientific fields of paleomagnetism, geodynamics, and geodynamo modelling. In my research, I am using numerical simulations of Earth’s geodynamo and global mantle convection to create models of the geomagnetic field that can be compared to paleomagnetic data in order to study the evolution of Earth’s deep interior on million-to-billion-year time scales."

feature_row4:
  - image_path: Cores.png
    alt: "Precambrian rocks"
    title: "Extreme anomalies in the Precambrian geomagnetic field"
    excerpt: "The geomagnetic field stored in rocks of the Ediacaran period (635-545 Ma) has baffled scientists for decades. Paleogeographic reconstructions for this period require physically implausible plate velocities to conform with the available paleomagnetic data. The terminal period of the Precambrian is also an important time for the study of life on Earth, as it includes the demise of the Ediacaran fauna that was followed by the rise of animals in the Cambrian."

feature_row5:
  - image_path: Pottery.png
    alt: "Floridian pottery"
    title: "Archaeomagnetic research"
    excerpt: "Archaeological material is a largely untapped treasure trove for paleomagnetic research. The magnetic information stored in bricks, burned clays and pottery fragements can provide information about the geomagentic field of the past few millennia. In turn, knowledge about the changing magnetic field at those times can provide opportunities to determine ages of archaeological material by comparing the stored magnetic information to reference values of the geomagnetic field"

feature_row6:
  - image_path: Print.png
    alt: "Printing template"
    title: "Other"
    excerpt: "From printing helpful tools to aid with field- and laboratory work to converting observational data to FAIR database formats, there is always something that can be done to improve the scientific processes of the paleomagnetic community"

---

{% include base_path %}


{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="left" %}
{% include feature_row id="feature_row5" type="left" %}
{% include feature_row id="feature_row6" type="left" %}

